.hero-text {
  background-color: #3b3b3b;
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  display: block;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 10%;
  padding-right: 10%; 
}